<html lang='en'>
<div class="container">
<div class="row">
	<div class="col-sm-3 col-sm-offset-5">
	<h1>About Us</h1>
	</div>
</div>
	<div class="row">
		<div class="text-center col-sm-4">
			<h2>Steve</h2>
			<h3>Project Manager</h3>
			<%= image_tag("steve.jpeg", :alt => "Steve", :class => "img-rounded")%><br />
			<p>Steve is a hard-working computer scientist interested in the advancement of all kinds of software and hardware.  In his spare time, he enjoys either solving programming puzzles or a good Minecraft session.</p>
		</div>
		<div class="text-center col-sm-4">
			<h2>Caldy</h2>
			<h3>Tech Lead</h3>
			<%= image_tag("ZachIcon.png", :alt => "Caldy", :class => "img-rounded")%><br />
			<p>Heyo! I'm Caldy! I'm the team's technical manager, artist, and dog. I like computers, making people happy, and things that are edible. That's really about it if I'm honest, I'm pretty simple in that sense.</p>
		</div>
		<div class="text-center col-sm-4">
			<h2>Sam</h2>
			<h3>Database Specialist</h3>
			<%= image_tag("sam.png", :alt => "Sam", :class => "img-rounded")%><br />
			<p>Sam is a computer science major who doesn't know what he's doing with his life but enjoys quantum computers. He is also looking forward to being President of the club tennis team at Miami next year.</p>
		</div>
		</div>
		<div class="row">
		<div class="text-center col-sm-4">
			<h2>Molly</h2>
			<h3>Developer</h3>
			<%= image_tag("molly.png", :alt => "Molly", :class => "img-rounded")%><br />
			<p>Molly is a software engineering major who enjoys web design and exploring. She also loves learning new languages, whether that be French, Spanish, Russian, or Ruby. 
		</div>
		<div class="text-center col-sm-4">
			<h2>Alec</h2>
			<h3>Developer</h3>
			<%= image_tag("alec.jpeg", :alt => "Alec", :class => "img-rounded")%><br />
			<p>Alec really enjoys hats in general, but bucket hats are his favorite.</p>
		</div>
		<div class="text-center col-sm-4">
			<h2>David</h2>
			<h3>Tester</h3>
			<%= image_tag("pikachumoustache.png", :alt => "David", :class => "img-rounded")%><br />
			<p>David is currently majoring in Computer Engineering. He enjoy playing various types of games and hanging out with friends during his free time.</p>
		</div>

	</div>

</div>
</html>
