<!DOCTYPE html>
<html lang='en'>


<div class="text-center row">
	<h1>Treasure Chest</h1>
</div>


<div id="back">
	<table>
  <tr>
    <div class="col-xs-1">
    <th>App</th>
  </div>
    <th>Name</th>
    <th>Version</th>
    <th>Price</th>
    <th colspan="2"></th>
  </tr>
 
  <% @apps.each do |app| %>
<div class="yellow">
    <tr>
      <div class="value"><td><%= image_tag(app.ImageURL, :alt => "App Icon") %></td></div>
      
      <div class="value"><td><%= app.name %></td></div>
      <div class="value"><td><%= app.version %></td></div>
      <div class="value"><td><%= app.price %></td></div>
   
      <!--<td><%= link_to 'Destroy', app_path(app),
      method: :delete, 
      data: {confirm: 'Are you sure?' } %></td>-->
    </tr>
 </div>

  <% end %>

</table>

<table>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
    <div class="text-center col-xs-6">
      <div class="yellow">
		<th>Total</th>
		<th><%= App.sum(:price) %></th>
  </div>
  </div>

	</tr>
</table>


</div>

<%= link_to 'Keep Searching', apps_path, class: 'btn btn-primary' %>




</html>