<html lang='en'>
<div id="treasureChest">
<body>
	<h1>Treasure Chest</h1>


<div id="back">
	<table>
  <tr>
    <th>App</th>
    <th>Name</th>
    <th>Version</th>
    <th>Price</th>
    <th colspan="2"></th>
  </tr>
 
  <% @chest_items.each do |chest_item| %>

    <tr>
      <div class="value"><td><%= image_tag(chest_item.ImageURL, :alt => "App Icon") %></td></div>
      <div class="value"><td><%= chest_item.name %></td></div>
      <div class="value"><td><%= chest_item.version %></td></div>
      <div class="value"><td><%= chest_item.price %></td></div>
      <!--<td><%= link_to 'Destroy', chest_item_path(chest_item),
      method: :delete, 
      data: {confirm: 'Are you sure?' } %></td>-->
    </tr>


  <% end %>

</table>

<table>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>Total</th>
		<th><%= App.sum(:price) %></th>

	</tr>
</table>


</div>

<%= link_to 'Keep Searching', apps_path, class: 'btn btn-primary' %>

</body>
</div>

</html>