
  <div id="logo">
    <%= image_tag("chest.jpg", :alt => "Treasure Chest/Shopping Cart") %>


 <%= image_tag("LIALogo.png", :alt => "LookItApp Icon") %>
</div>


<h1><%= image_tag("newapps.png", :alt => "New Apps") %></h1>
 
<%= link_to 'New App', new_app_path %>



<table align="center">
  
  <tr>
     <% @apps.take(5).each do |app| %>
     
        <th><%= link_to image_tag(app.ImageURL, :alt => "App Icon"), app_path(app) %></th>

     <% end %>
  </tr>

    <tr>
      <% @apps.take(5).each do |app| %>
       <td><%= app.name %></td>
      <% end %>
    </tr>



<br>

  
  <tr>
     <% @apps.drop(5).take(5).each do |app| %>
     
       <th><%= link_to image_tag(app.ImageURL, :alt => "App Icon"), app_path(app) %></th>
     <% end %>
  </tr>

    <tr>
      <% @apps.drop(5).take(5).each do |app| %>
        <td><%= app.name %></td>
      <% end %>
    </tr>
    
<br>

  
  <tr>
     <% @apps.drop(10).take(5).each do |app| %>
     
        <th><%= link_to image_tag(app.ImageURL, :alt => "App Icon"), app_path(app) %></th>

     <% end %>
  </tr>

    <tr>
      <% @apps.drop(10).take(5).each do |app| %>
        <td><%= app.name %></td>
      <% end %>
    </tr>

</table>





<!--<table>
  <tr>
    <th>App ID</th>
    <th>Name</th>
    <th>Developer</th>
    <th>Platform</th>
    <th>Version</th>
    <th>Price</th>
    <th>Link</th>
    <th colspan="2"></th>
  </tr>
 
  <% @apps.each do |app| %>

    <tr>
      <td><%= app.appID %></td>
      <td><%= app.name %></td>
      <td><%= app.developer %></td>
      <td><%= app.platform %></td>
      <td><%= app.version %></td>
      <td><%= app.price %></td>
      <td><%= app.link %></td>
      <td><%= link_to 'Show', app_path(app) %></td>

      <td><%= link_to 'Edit', edit_app_path(app) %></td>
      <td><%= link_to 'Destroy', app_path(app),
      method: :delete, 
      data: {confirm: 'Are you sure?' } %></td>
    </tr>


  <% end %>
</table>-->
