<div id="header">
	<%= image_tag("driftwood.jpg", :alt => "Driftwood") %>
	<h1>LookItApp</h1>
</div>
<h2>New Apps</h2>
<div class="icons">
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
</div>

<h2>Suggested Apps</h2>
<div class="icons">
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
</div>

<h2>Top Rated Apps</h2>
<div class="icons">
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
	<%= image_tag("White-Icon.jpg", :alt => "App Icon") %>
</div>

